@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  position: relative;
  height: 500px;
  width: 350px;
  flex-wrap: wrap;
  min-width: 200px;
  min-height: 300px;
}

.palosuperior {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 90px;
  flex-wrap: wrap;
}
#randomnumber {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paloinferior {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 90px;
  -webkit-transform: rotate(-180deg);
  flex-wrap: wrap;
}
.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}
